.history/
config/.wwebjs_auth/
node_modules/
.env
package-lock.json
public/data/selectedAudio
public/tmpvideo/videotmp.mp4
config/homilia-bot-e54a49e430c5.json
config/.wwebjs_auth.zip
.wwebjs_auth/
.vscode/
RemoteAuth-botshomilt.zip
public/
